extends mixins/layout

block nav
  +sidenav()

block content
  #main
    +topnav()
    .overview.is-flex.is-flex-direction-row.is-justify-content-space-between.is-align-items-center.p-5
      button.button.btn-full
        a(href="/wallets").icon-text
          .icon
            .fas.fa-chevron-left
          h3.is-bold Back
    .wallet.mx-5.py-5.is-flex.is-justify-content-center
      .column.box.is-flex.is-6.is-flex-direction-column
        h1.is-bold.p-3.has-text-centered Create a wallet
        form(method="post" action="/wallets/add").m-4.is-flex.is-flex-direction-row.is-align-items-center
          label.has-text-white Available Cryptos
          .select.mx-5
            select(name="symbol").bg-secondary.no-border.has-text-white
              each market in markets
                if market.symbol !== "FIAT"
                  option(value=market.symbol).has-text-white=market.name
          button.button.btn-accent
            h3 Create wallet in account



block script
