@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import "vendor/fontawesome.min.css";
@import "vendor/bulma.css";

:root {
  --primary: #1D2024;
  --secondary: #2A2B31;
  --accent: #78BD38;
  --pale-accent: #b6ff77;
  --red: #e02817;
  --white: #FFFFFF;
  --pale-grey: #b5b5b5;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  color: var(--white);
  min-height: 100%;
  background-color: #18191D !important;
}

.height-100 {
  min-height: 100%;
}

.width-100 {
  min-width: 100%;
}

.no-border {
  border: none !important;
}

.accent {
  color: var(--accent) !important;
}

.bg-accent {
  background-color: var(--accent) !important;
}

.accent-border {
  border-color: var(--accent) !important;
}

.pale-grey {
  color: var(--pale-grey) !important;
}

.secondary {
  color: var(--secondary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.primary {
  color: var(--primary) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.login-body {
  min-height: 100%;
  color: var(--black) !important;
  background-color: var(--white) !important;
  padding: 80px 200px;
}

button:focus:not(:active) {
  box-shadow: none !important;
}

a {
  color: inherit;
}

h1, h2, h3 {
  letter-spacing: 1px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 12px;
}

.is-bold {
  font-weight: bold;
}

.muted {
  opacity: 0.5;
}

.middle-dot {
  content: '';
  vertical-align: center;
  line-height: 18px;
  font-size: 2rem;
  margin: 0 10px;
}

divider {
  width: 100%;
  padding: 35px 0;
  display: block;
}

#main {
  background-color: #18191D !important;
  padding: 10px 20px;
  margin-left: 7rem;
}

/* side bar */

.side-bar {
  height: 100%;
  width: 7rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary);
  overflow-x: hidden;
}

.logo {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.side-bar-menu a {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 12px;
  color: var(--secondary);
}

.side-bar a:hover * {
  color: var(--white);
}

.side-bar .selected {
  background-color: var(--secondary);
}

.side-bar .selected i {
  color: var(--white);
}

.button.selected {
  color: var(--white);
}

/* login */
.login {
  margin-left: 10rem;
}

.login-info {
  margin-right: 10rem;
}

.login-form {
  max-width: 20rem;
}

.login-form.x2 {
  max-width: 25rem;
}

.login-form input {
  padding: 10px 10px;
  line-height: 30px;
  min-height: 45px;
  border-color: var(--black);
}

.login-form input:placeholder-shown {
  color: var(--black);
  line-height: 30px;
  font-size: 8px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
}

.login-form input:hover {
  border-color: var(--black);
}

.login-form button {
  min-height: 45px;
  min-width: 10rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: xx-small;
  vertical-align: center;
  color: var(--white);
  background-color: var(--black);
}

/* top bar */

.search-bar form {
  background-color: var(--secondary);
  width: 300px;
  height: 44px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar input {
  all: unset;
  color: var(--white);
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

.search-bar input::placeholder {
  color: var(--white);
  opacity: 0.1;
}

.search-bar button {
  background-color: var(--secondary);
  all: unset;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

button.btn {
  background-color: var(--secondary);
  color: var(--white);
  padding: 20px 18px;
  border: none;
  border-radius: 2px !important;
}

button.btn-accent {
  background-color: var(--accent);
  color: var(--white);
  padding: 20px 18px;
  border: none;
  border-radius: 2px !important;
}

button.btn-transparent {
  background-color: transparent;
  padding: 20px 18px;
  border: none;
  border-radius: 2px !important;
}

button.btn-full {
  background-color: var(--secondary);
  color: var(--white);
  padding: 22px;
  border: none;
  border-radius: 2px !important;
}

button.btn-border {
  background-color: transparent;
  color: var(--secondary);
  padding: 20px 18px;
  border: 2px var(--secondary) solid;
  border-radius: 2px !important;
}

button.btn-pale {
  border-color: transparent;
  background-color: var(--pale-grey);
  color: var(--primary);
  padding: 20px 18px;
  opacity: 0.8;
  border-radius: 2px !important;
}

button:hover {
  color: var(--white) !important;
  opacity: 0.8;
}

button.btn-border:hover {
  border-color: var(--white);
}

button.btn-pale:hover {
  border-color: var(--secondary);
}

.button i {
  opacity: 0.1;
}

button:hover i {
  color: var(--white) !important;
  opacity: 1;
}

.search-bar i {
  color: var(--white);
  fill: currentColor;
  font-size: larger;
  opacity: 0.1;
}

.box {
  border-radius: 2px;
}

button.crypto-logo {
  padding: 22px;
}

.crypto-logo img {
  position: absolute;
  max-width: 50%;
}

.sent {
  color: var(--red);
}

.received {
  color: var(--accent);
}

.bought {
  color: deepskyblue;
}

.sold {
  color: darkorange;
}

/* wallets */
.wallet-add {
  background-color: transparent;
  border: var(--primary) dotted 5px;
}
.wallet .box {
  background-color: var(--primary);
}

.total {
  font-size: 70px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tool-tip-text {
  display: none;
  background-color: var(--secondary);
  color: var(--white);
  text-align: center;
  border-radius: 3px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  opacity: 1;
  transition: opacity 0.3s;
}

/*little triangle*/
.tooltip .tool-tip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--secondary) transparent transparent transparent;
}

.tabs ul {
  border-bottom-color: transparent !important;
}

.tabs a {
  border-bottom-color: transparent;
}

.tabs .is-active a {
  border-bottom: solid 3px;
  border-bottom-color: var(--secondary) !important;
}

.buy-form .label {
  color: var(--pale-grey);
  opacity: 0.5;
}

.buy-form .input::placeholder {
  color: var(--white) !important;
  opacity: 0.3;
}