include navigation

doctype html
html
  head
    title Cryptonix | #{title}
    link(rel="icon" href="/images/favicon.ico" type="images/x-icon")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(src="/javascripts/sidebar.js")
  body
    block nav
    block content
    block footer

