include navigation
include flash

doctype html
html
  head
    block head
    title Cryptonix | #{title}
    link(rel="icon" href="/images/logo.png" type="images/x-icon")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script(src="/javascripts/sidebar.js")
    block script

  body
    block nav
    block modal
    block content
    block footer

