mixin smallTransaction(transaction)
  .last-transaction.bg-secondary.mx-4.p-4
    .is-flex.is-justify-content-space-between.has-text-white
      p.date 10:00, 23 Dec 2018
      .is-flex.is-flex-direction-row
        p.amount.up +0.011
        p.pl-2=transaction
    .pale-grey.muted.pt-4
      p 0x234890745398450345873450456568